@import url(./__card/task-view__card.css);
@import url(./__card-content/task-view__card-content.css);
@import url(./__card-text/task-view__card-text.css);
@import url(./__container/task-view__container.css);
@import url(./__type/task-view__type.css);
@import url(./__card_container/task-view__card_container.css);

.task-view {
    width: calc(100% - 1rem - 40px);
    float: left;
    display: flex;
    background-color: rgb(129, 129, 129, 0.5);
    height: calc(100vh - 3.5rem);
}

@media screen and (max-width: 900px) {
    .task-view {
        flex-direction: column;
        overflow-y: scroll;
        height: calc(100vh - 3.5rem);
    }
}