@import url(./__card/task-view__card.css);
@import url(./__card-content/task-view__card-content.css);
@import url(./__card-text/task-view__card-text.css);
@import url(./__container/task-view__container.css);
@import url(./__type/task-view__type.css);

.task-view {
    width: calc(100% - 1rem - 40px);
    float: left;
    display: flex;
}

@media screen and (max-width: 900px) {
    .task-view {
        overflow-x: scroll;
    }
}
