@import url(./_complete/task-view__type_complete.css);
@import url(./_in-progress/task-view__type_in-progress.css);
@import url(./_to-do/task-view__type_to-do.css);

.task-view__type {
    position: sticky;
    top: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-view__type h1 {
    margin: 0.8rem 0;
}