.task-view__card {
    margin: calc(15rem/16);
    padding: 1.875rem 1.875rem 1.25rem;
    background-color: white;
    box-shadow: 0px 2px 10px rgb(68, 68, 68);
    border-radius: 40px;
    /* скрывает все, что выходит за пределы элемента */
}

.task-view__card:hover {
    box-shadow: 0px 5px 20px rgb(68, 68, 68);
}