.task-view__container {
    flex-basis: 100%;
    flex-grow: 1;
    background-color: rgb(129, 129, 129, 0.5);
}

@media screen and (min-width: 900px) {
    .task-view__container {
        overflow-y: scroll;
        height: calc(100vh - 3.5rem);
    }
}

@media screen and (max-width: 900px) {
    .task-view__container {
        min-width: 100%;
    }
}