@media screen and (min-width: 900px) {
    .task-view__container {
        overflow-y: scroll;
        height: 100%;
        flex-basis: 100%;
        flex-grow: 1;
    }
}

@media screen and (max-width: 900px) {
    .task-view__container {
        min-width: 100%;
    }
}