.project-members {
    float: right;
    height: calc(100vh - 4.5rem);
    background-color: rgb(46, 46, 46, 0.8);
    text-align: center;
    overflow-y: scroll;
    padding: 0.5rem;
}

.project-members__member {
    margin-top: 10px;
    color: white;
}

.project-members__member:hover {
    color: rgb(210, 210, 210);
}

.project-members__member p {
    margin-top: 0;
}