@import url(./__body/modal__body.css);
@import url(./__close/modal__close.css);
@import url(./__content/modal__content.css);
@import url(./__dialog/modal__dialog.css);
@import url(./__header/modal__header.css);
@import url(./__title/modal_title.css);

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
    margin: 0;
    padding: 0;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}