* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 0;
}

.navbar {
    background-color: rgb(33, 33, 33);
    overflow: hidden;
}

.navbar-item {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-item:last-child:not([class="menu-image"]) {
    float: right;
}

.navbar-item:hover {
    color: rgb(210, 210, 210);
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropdown-btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown .dropdown-btn:hover {
    color: #ddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}


.menu-line {
    width: 25px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 3px 0;
}

.menu-image:hover>.menu-line {
    background-color: rgb(210, 210, 210);
}

.main-view {}

.tasks-view {
    width: 95vw;
    float: left;
    display: flex;
}

@media screen and (max-width: 900px) {
    .tasks-view  {
        width: 85vw;
        overflow-x: scroll
    }
}

.project-members-view {
    float: right;
    height: calc(100vh - 48px);
    background-color: rgb(46, 46, 46, 0.8);
    text-align: center;
    overflow-y: scroll;
}

@media screen and (max-width: 900px) {
    .project-members-view {
        width: 15vw;
    }
}

@media screen and (min-width: 900px) {
    .project-members-view {
        width: 5vw;
    }
}

.tasks-container {
    overflow-y: scroll;
    flex-basis: 100%;
    height: calc(100vh - 48px);
    flex-grow: 1;
    background-color: rgb(129, 129, 129, 0.5);
}

@media screen and (max-width: 900px) {
    .tasks-container {
        min-width: 100%;
    }
}

.task-type {
    height: 8%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-do {
    background-color: rgb(46, 215, 216);
}

.in-progress {
    background-color: rgb(0, 170, 255);
}

.complete {
    background-color: rgb(161, 121, 242);
}

@media screen and (max-width: 900px) {
    .task-text {
        font-size: small;
    }
}

.task-card {
    margin: 15px;
    padding: 30px 30px 20px 30px;
    background-color: white;
    box-shadow: 0px 2px 10px rgb(68, 68, 68);
    border-radius: 40px;
    /* скрывает все, что выходит за пределы элемента */
}

.task-card:hover {
    box-shadow: 0px 5px 20px rgb(68, 68, 68);
}

.task-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.task-text {
    margin: 0;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    width: calc(100% - 60px);
    /* ширина, занимаемая текстом (60px - ширина изображения и отступа) */
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    /* отступ слева */
}

.member {
    margin-top: 10px;
    color: white;
}

.member:hover {
    color: rgb(210, 210, 210);
}

.member p {
    margin-top: 0;
}

.round-button {
    border-radius: 50%;
    border-style: none;
    background-color: rgb(241, 241, 241);
    vertical-align: middle;
}