.input-group {
    width: calc(100% - 8rem);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px) {
    .white-container {
        width: 80vw;
    }

    .input-group {
        width: calc(100% - 5rem);
        padding: 2rem;
    }
}

.underline-input {
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 87%;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 60%;
    padding-left: 2rem;
}

.input-label {
    color: #7f7f7f;
    text-align: left;
}

.small-link {
    color: #7f7f7f;
    font-size: small;
    margin-left: auto;
    text-decoration: none;
}