.invitation {
    display: flex;
    border: 2px solid #ccc;
    margin-bottom: 0.5rem;
    padding: 1rem;
}

.invitation :first-child {
    order: -1;
    margin-right: auto;
}

.invitation :not(:first-child) {
    order: 1;
}

.invitations-container:last-child {
    margin-bottom: 2rem;
}

.project-name {
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    max-width: calc(100% - 4rem);
}

button.accept {
    border: none;
    background-color: transparent;
    background-image: url('../images/defaults/accept-icon.png');
    background-size: cover;
    width: 2rem;
    height: 2rem;
    margin: auto 0;
}

button.decline {
    border: none;
    background-color: transparent;
    background-image: url('../images/defaults/decline-icon.png');
    background-size: cover;
    width: 2rem;
    height: 2rem;
    margin: auto 0;
}