* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 0;
    background-image: url(../images/defaults/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.main-view {
    height: calc(100vh - 3.5rem);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-view-no-nav {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-container {
    display: flex;
    flex-direction: column;
    width: calc(100vw/3);
    height: auto;
    max-height: 70vh;
    background-color: white;
    border-radius: 40px;
    overflow-y: scroll;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    /* отступ слева */
}

.round-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-style: none;
    background-color: rgb(241, 241, 241);
    vertical-align: middle;
    color: black;
}

.plus {
    width: 30px;
    height: 30px;
    margin: 0.5rem auto;
}

.round-button p {
    font-size: large;
}

.fade-button {
    text-align: center;
    margin: 2rem 0;
    background: linear-gradient(to right, #8A2BE2, #00CED1);
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 40px;
    font-size: 1rem;
}

.center-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}